@model ServiceHost.Areas.AdminiStrator.Models.Inventory.InventoryModel
@{
    Layout = null;
}
<div class="row" id="test">
    <div class="col-md-6">
        <form asp-action="sendTodatabase" asp-controller="Inventory"   onsubmit="return jQueryAjaxPost(this);">
            <div class="modal-body">

                
                <div class="row">
                    <div class="col-md-6">
                        <select asp-for="create.ProductId" 
                                asp-items="Model.SelectList">
                            <option>Please select one</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="create.unitprice" class="control-label">قیمت واحد</label>
                            <input type="text" class="form-control" asp-for="create.unitprice" id="keydown" >
                            <span asp-validation-for="create.unitprice" class="error"></span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >بستن</button>
                <button type="submit" class="btn btn-info waves-effect waves-light" id="button">ایجاد</button>
            </div>
        </form>
    </div>
</div>

<script src="Administrator/jquery-validation/dist/jquery.validate.min.js" ></script>
<script src="Administrator/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>
 