@model ServiceHost.Areas.AdminiStrator.Models.ProductCategory.ProductCategoryView
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Editeds"   onsubmit="return jQueryAjaxPost(this);">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Edited.Title" class="control-label">نام</label>
                    <input type="text" class="form-control" asp-for="Edited.Title" id="keydown" >
                    <input type="hidden" class="form-control" asp-for="Edited.Id" id="keydown" >

                    <span asp-validation-for="Edited.Title" class="error"></span>
                </div>
            </div><div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Edited.Slug" class="control-label">اسلاگ</label>
                    <input type="text" class="form-control" asp-for="Edited.Slug" id="result" readonly="readonly">
                    <span asp-validation-for="Edited.Slug" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Edited.Picture" class="control-label">عکس</label>
                    <input type="text" class="form-control" asp-for="Edited.Picture">
                    <span asp-validation-for="Edited.Picture" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Edited.Alt" class="control-label">Alt</label>
                    <input type="text" class="form-control" asp-for="Edited.Alt">
                    <span asp-validation-for="Edited.Alt" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Edited.ImageTitle" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="Edited.ImageTitle">
                    <span asp-validation-for="Edited.ImageTitle" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label asp-for="Edited.Discription" class="control-label">توضیحات</label>
                    <textarea class="form-control autogrow" asp-for="Edited.Discription" 
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="Edited.Discription" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Edited.Keywords" class="control-label">کلمات کلیدی</label>
                    <input type="text" class="form-control" asp-for="Edited.Keywords">
                    <span asp-validation-for="Edited.Keywords" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label asp-for="Edited.MetaDiscription" class="control-label">توضیحات متا</label>
                    <textarea class="form-control autogrow" asp-for="Edited.MetaDiscription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="Edited.MetaDiscription" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>
    </div>
</div>



