@model ServiceHost.Areas.AdminiStrator.Models.Discounts.CustomerDiscountModel
   @ViewData["Title"] = "مدیریت تخفیفات ";

}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["Title"]</h4>
        <p class="pull-left">
        <button class="btn btn-success btn-lg" onclick="showInPopup('@Url.Action("sendTodatabase","CustomerDiscount",null,Context.Request.Scheme)', 'New Productcategory')">ایجاد  محصول جدید</button>
       </p>
    </div>
</div>



<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست تخفیفات|@Model.List.Count تخفیف</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="view-all">

        @Html.Partial("_ViewAll",Model);

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*============================================*@
<!-- Modal -->
@*===================================================*@

@section Scripts {
    <link href="~/Administrator/assets/css/persian-datepicker.min.css" rel="stylesheet" type="text/css" />

<script src="~/Administrator/assets/datatables/jquery.dataTables.min.js"></script>
<script src="~/Administrator/assets/datatables/dataTables.bootstrap.js"></script>


<script src="~/Modal/modals.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').dataTable();
        });



    </script>
    <script>
        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValueType: "persian"
        });
    </script>
}