@model ServiceHost.Areas.AdminiStrator.Models.Discounts.CustomerDiscountModel
@{
    Layout = null;
}
<div class="row" id="test">
    <div class="col-md-6">
        <form asp-action="sendTodatabase" asp-controller="CustomerDiscount"   onsubmit="return jQueryAjaxPost(this);">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateCustomerDiscount.StartDiscount" class="control-label">شروع تخفیف</label>
                            <input type="text" class="form-control persianDateInput" asp-for="CreateCustomerDiscount.StartDiscount" id="keydown" >
                            <span asp-validation-for="CreateCustomerDiscount.StartDiscount" class="error"></span>
                        </div>
                    </div>
                </div>
        
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateCustomerDiscount.EndDiscount" class="control-label">پایان تخفیف</label>
                            <input type="text" class="form-control persianDateInput" asp-for="CreateCustomerDiscount.EndDiscount" id="keydown" >
                            <span asp-validation-for="CreateCustomerDiscount.EndDiscount" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="CreateCustomerDiscount.DiscountRate" class="control-label">توضیحات کوتاه </label>
                            <input type="text" class="form-control" asp-for="CreateCustomerDiscount.DiscountRate">
                            <span asp-validation-for="CreateCustomerDiscount.DiscountRate" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="CreateCustomerDiscount.Reason" class="control-label">توضیحات </label>
                            <input type="text" class="form-control" asp-for="CreateCustomerDiscount.Reason">

                            <span asp-validation-for="CreateCustomerDiscount.Reason" class="error"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <select asp-for="CreateCustomerDiscount.productId" 
                                asp-items="Model.SelectList">
                            <option>Please select one</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >بستن</button>
                <button type="submit" class="btn btn-info waves-effect waves-light" id="button">ایجاد</button>
            </div>
        </form>
    </div>
</div>

<script src="Administrator/jquery-validation/dist/jquery.validate.min.js" ></script>
<script src="Administrator/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>
 